After=network.target
[Service]
Type=simple
ExecStart=/home/fvgrab/garbage-server/python/bin/python /home/fvgrab/garbage-server/manage.py runserver 
WorkingDirectory=/home/fvgrab/garbage-server
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root
[Install]
WantedBy=multi-user.target
